@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Satisfy', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  overflow-x: hidden;
  font-weight: 300;
  /* scroll-behavior: smooth; */
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: 'Comic Neue', cursive;
  font-family: 'Poppins', sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  outline: none;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

button {
  cursor: pointer;
}

.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 70%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.avatar {
  height: 120px;
  border: 2px solid red;
  width: 120px;
  border-radius: 50%;
  overflow: hidden;
}

.myBtn {
  background-color: #c47135;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: 'Uchen', serif;
  font-size: 1em;
  font-size: 12px;
  line-height: 1em;
  margin: 10px 0px 15px;
  outline: none;
  padding: 10px 20px 10px;
  position: relative;
  text-transform: inherit;
  font-weight: 500;
  letter-spacing: 1px;
}

.myBtn:before,
.myBtn:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.myBtn:before {
  border-color: #c47135;
  border-right-width: 2px;
  border-top-width: 2px;
  right: -5px;
  top: -5px;
}

.myBtn:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-left-width: 2px;
  bottom: -5px;
  left: -5px;
}

.myBtn:hover,
.myBtn.hover {
  background-color: #c47135;
}

.myBtn:hover:before,
.myBtn.hover:before,
.myBtn:hover:after,
.myBtn.hover:after {
  height: 100%;
  width: 100%;
}

.letter {
  font-family: 'Uchen', serif;
  width: 250px;
  margin-top: 20px;
  letter-spacing: -0.9px;
  font-weight: 600;
  line-height: 2.1rem;
  margin-left: 9px;
  font-size: 1.4rem;
  margin-right: 10px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 50px; 
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: transparent;
  margin: auto;
  padding: 0;
  /* border: 1px solid #888; */
  width: fit-content;
  height: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.img-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}

.img-modal {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#type-effect {
  position: absolute;
  top: 40px;
  width: 420px;
  font-size: 15px;
  font-weight: 400;
  text-align: justify;
  letter-spacing: 1px;
  line-height: 23px;
  font-family: 'Uchen', serif;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  position: absolute;
  color: #f44336;
  top: -10px;
  right: -3px;
  font-weight: 400;
  font-size: 62px;
  /* background-color: #fff8e1; */
  padding: 0px 0;
  border-radius: 50%;
  padding: 0 10px 10px 0;
  /* height: 100px; */
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}